# Titanic: Machine Learning from Disaster
### Ting-Wei Wu, 10/24/2018

**This is the submission for predicting survivors in the titanic problem from Kaggle competition: ** **https://www.kaggle.com/c/titanic**



Reference from:

https://medium.com/@yehjames/%E8%B3%87%E6%96%99%E5%88%86%E6%9E%90-%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92-%E7%AC%AC4-1%E8%AC%9B-kaggle%E7%AB%B6%E8%B3%BD-%E9%90%B5%E9%81%94%E5%B0%BC%E8%99%9F%E7%94%9F%E5%AD%98%E9%A0%90%E6%B8%AC-%E5%89%8D16-%E6%8E%92%E5%90%8D-a8842fea7077

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.offline as py
py.init_notebook_mode(connected=True)

from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv("gender_submission.csv")

In [3]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
test.insert(1,"Survived", None)

In [7]:
#Combine train and test
data = train.append(test)

In [8]:
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [9]:
data.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,3.000000,80.000000,8.000000,9.000000,512.329200

In [10]:
data['Family_Size'] = data['Parch'] + data['SibSp']

# Feature Engineering

## **1. Title**
Make title a class

In [11]:
data.insert(3, "Title", data["Name"].str.split(',', expand=True)[1])
data["Title"] = data["Title"].str.split('.', expand=True)[0]

In [12]:
data.head()

,PassengerId,Survived,Pclass,Title,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_Size
0,1,0,3,Mr,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,Mrs,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,Miss,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,Mrs,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,Mr,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [13]:
pd.crosstab(data["Title"],data["Sex"]).T

Title,Capt,Col,Don,Dona,Dr,Jonkheer,Lady,Major,Master,Miss,Mlle,Mme,Mr,Mrs,Ms,Rev,Sir,the Countess
Sex,,,,,,,,,,,,,,,,,,
female,0,0,0,1,1,0,1,0,0,260,2,1,0,197,2,0,0,1
male,1,4,1,0,7,1,0,2,61,0,0,0,757,0,0,8,1,0

In [14]:
scarce_title_Mr = ['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Major', 'Master', 'Rev', 'Sir']
scarce_title_Miss = ['Mlle', 'Ms']
scarce_title_Mrs = ['Lady', 'Dona', 'Mme', 'the Countess']

data["Title"] = data["Title"].replace(scarce_title_Mr, ['Mr']*len(scarce_title_Mr))
data["Title"] = data["Title"].replace(scarce_title_Miss, ['Miss']*len(scarce_title_Miss))
data["Title"] = data["Title"].replace(scarce_title_Mrs, ['Mrs']*len(scarce_title_Mrs))

In [15]:
data.head(100)

,PassengerId,Survived,Pclass,Title,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_Size
0,1,0,3,Mr,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,Mrs,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,Miss,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,Mrs,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S,1
4,5,0,3,Mr,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S,0
5,6,0,3,Mr,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,0,1,Mr,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S,0
7,8,0,3,Master,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,4
8,9,1,3,Mrs,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S,2
9,10,1,2,Mrs,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C,1
10,11,1,3,Miss,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,2
11,12,1,1,Miss,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,0
12,13,0,3,Mr,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S,0
13,14,0,3,Mr,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S,6
14,15,0,3,Miss,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S,0
15,16,1,2,Mrs,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S,0
16,17,0,3,Master,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,5
17,18,1,2,Mr,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0
18,19,0,3,Mrs,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S,1
19,20,1,3,Mrs,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0
20,21,0,2,Mr,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S,0
21,22,1,2,Mr,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,0
22,23,1,3,Miss,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q,0
23,24,1,1,Mr,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,0
24,25,0,3,Miss,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S,4
25,26,1,3,Mrs,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S,6
26,27,0,3,Mr,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0
27,28,0,1,Mr,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,5
28,29,1,3,Miss,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0
29,30,0,3,Mr,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,0,2,Mr,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S,0
71,72,0,3,Miss,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S,7
72,73,0,2,Mr,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S,0
73,74,0,3,Mr,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C,1
74,75,1,3,Mr,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,0
75,76,0,3,Mr,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S,0
76,77,0,3,Mr,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S,0
77,78,0,3,Mr,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S,0
78,79,1,2,Master,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,2
79,80,1,3,Miss,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S,0
80,81,0,3,Mr,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S,0
81,82,1,3,Mr,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S,0
82,83,1,3,Miss,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,0
83,84,0,1,Mr,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S,0
84,85,1,2,Miss,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S,0
85,86,1,3,Mrs,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S,3
86,87,0,3,Mr,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S,4
87,88,0,3,Mr,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,0
88,89,1,1,Miss,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S,5
89,90,0,3,Mr,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S,0
90,91,0,3,Mr,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S,0
91,92,0,3,Mr,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S,0
92,93,0,1,Mr,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S,1
93,94,0,3,Mr,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S,3
94,95,0,3,Mr,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S,0
95,96,0,3,Mr,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0
96,97,0,1,Mr,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C,0
97,98,1,1,Mr,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C,1
98,99,1,2,Mrs,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S,1
99,100,0,2,Mr,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S,1

## **2. Ticket**

Strip to good shape

In [16]:
data["Ticket"] = data["Ticket"].apply(lambda x: x.replace('.','').replace('/','').strip().split(' ')[0] if not x.isdigit() else 'X')

In [17]:
data["Ticket"].unique()

array(['A5', 'PC', 'STONO2', 'X', 'PP', 'CA', 'SCParis', 'SCA4', 'A4',
       'SP', 'SOC', 'WC', 'SOTONOQ', 'WEP', 'STONO', 'C', 'SCPARIS',
       'SOP', 'Fa', 'LINE', 'FCC', 'SWPP', 'SCOW', 'PPP', 'SC', 'SCAH',
       'AS', 'SOPP', 'FC', 'SOTONO2', 'CASOTON', 'SCA3', 'STONOQ', 'AQ4',
       'A', 'LP', 'AQ3'], dtype=object)

## **3.Embarked, Fare, Age**
Deal with missing value

In [18]:
data["Embarked"] = data["Embarked"].fillna('S')
data["Fare"] = data["Fare"].fillna(data["Fare"].mean())
data["Cabin"] = data["Cabin"].apply(lambda x: str(x)[0] if not pd.isnull(x) else "missing")

In [19]:
data.head(100)

,PassengerId,Survived,Pclass,Title,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_Size
0,1,0,3,Mr,"Braund, Mr. Owen Harris",male,22.00,1,0,A5,7.2500,missing,S,1
1,2,1,1,Mrs,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC,71.2833,C,C,1
2,3,1,3,Miss,"Heikkinen, Miss. Laina",female,26.00,0,0,STONO2,7.9250,missing,S,0
3,4,1,1,Mrs,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,X,53.1000,C,S,1
4,5,0,3,Mr,"Allen, Mr. William Henry",male,35.00,0,0,X,8.0500,missing,S,0
5,6,0,3,Mr,"Moran, Mr. James",male,NaN,0,0,X,8.4583,missing,Q,0
6,7,0,1,Mr,"McCarthy, Mr. Timothy J",male,54.00,0,0,X,51.8625,E,S,0
7,8,0,3,Master,"Palsson, Master. Gosta Leonard",male,2.00,3,1,X,21.0750,missing,S,4
8,9,1,3,Mrs,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,X,11.1333,missing,S,2
9,10,1,2,Mrs,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,X,30.0708,missing,C,1
10,11,1,3,Miss,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP,16.7000,G,S,2
11,12,1,1,Miss,"Bonnell, Miss. Elizabeth",female,58.00,0,0,X,26.5500,C,S,0
12,13,0,3,Mr,"Saundercock, Mr. William Henry",male,20.00,0,0,A5,8.0500,missing,S,0
13,14,0,3,Mr,"Andersson, Mr. Anders Johan",male,39.00,1,5,X,31.2750,missing,S,6
14,15,0,3,Miss,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,X,7.8542,missing,S,0
15,16,1,2,Mrs,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,X,16.0000,missing,S,0
16,17,0,3,Master,"Rice, Master. Eugene",male,2.00,4,1,X,29.1250,missing,Q,5
17,18,1,2,Mr,"Williams, Mr. Charles Eugene",male,NaN,0,0,X,13.0000,missing,S,0
18,19,0,3,Mrs,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,X,18.0000,missing,S,1
19,20,1,3,Mrs,"Masselmani, Mrs. Fatima",female,NaN,0,0,X,7.2250,missing,C,0
20,21,0,2,Mr,"Fynney, Mr. Joseph J",male,35.00,0,0,X,26.0000,missing,S,0
21,22,1,2,Mr,"Beesley, Mr. Lawrence",male,34.00,0,0,X,13.0000,D,S,0
22,23,1,3,Miss,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,X,8.0292,missing,Q,0
23,24,1,1,Mr,"Sloper, Mr. William Thompson",male,28.00,0,0,X,35.5000,A,S,0
24,25,0,3,Miss,"Palsson, Miss. Torborg Danira",female,8.00,3,1,X,21.0750,missing,S,4
25,26,1,3,Mrs,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,X,31.3875,missing,S,6
26,27,0,3,Mr,"Emir, Mr. Farred Chehab",male,NaN,0,0,X,7.2250,missing,C,0
27,28,0,1,Mr,"Fortune, Mr. Charles Alexander",male,19.00,3,2,X,263.0000,C,S,5
28,29,1,3,Miss,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,X,7.8792,missing,Q,0
29,30,0,3,Mr,"Todoroff, Mr. Lalio",male,NaN,0,0,X,7.8958,missing,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,0,2,Mr,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,CA,10.5000,missing,S,0
71,72,0,3,Miss,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA,46.9000,missing,S,7
72,73,0,2,Mr,"Hood, Mr. Ambrose Jr",male,21.00,0,0,SOC,73.5000,missing,S,0
73,74,0,3,Mr,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,X,14.4542,missing,C,1
74,75,1,3,Mr,"Bing, Mr. Lee",male,32.00,0,0,X,56.4958,missing,S,0
75,76,0,3,Mr,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,X,7.6500,F,S,0
76,77,0,3,Mr,"Staneff, Mr. Ivan",male,NaN,0,0,X,7.8958,missing,S,0
77,78,0,3,Mr,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,X,8.0500,missing,S,0
78,79,1,2,Master,"Caldwell, Master. Alden Gates",male,0.83,0,2,X,29.0000,missing,S,2
79,80,1,3,Miss,"Dowdell, Miss. Elizabeth",female,30.00,0,0,X,12.4750,missing,S,0
80,81,0,3,Mr,"Waelens, Mr. Achille",male,22.00,0,0,X,9.0000,missing,S,0
81,82,1,3,Mr,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,X,9.5000,missing,S,0
82,83,1,3,Miss,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,X,7.7875,missing,Q,0
83,84,0,1,Mr,"Carrau, Mr. Francisco M",male,28.00,0,0,X,47.1000,missing,S,0
84,85,1,2,Miss,"Ilett, Miss. Bertha",female,17.00,0,0,SOC,10.5000,missing,S,0
85,86,1,3,Mrs,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,X,15.8500,missing,S,3
86,87,0,3,Mr,"Ford, Mr. William Neal",male,16.00,1,3,WC,34.3750,missing,S,4
87,88,0,3,Mr,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTONOQ,8.0500,missing,S,0
88,89,1,1,Miss,"Fortune, Miss. Mabel Helen",female,23.00,3,2,X,263.0000,C,S,5
89,90,0,3,Mr,"Celotti, Mr. Francesco",male,24.00,0,0,X,8.0500,missing,S,0
90,91,0,3,Mr,"Christmann, Mr. Emil",male,29.00,0,0,X,8.0500,missing,S,0
91,92,0,3,Mr,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,X,7.8542,missing,S,0
92,93,0,1,Mr,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,WEP,61.1750,E,S,1
93,94,0,3,Mr,"Dean, Mr. Bertram Frank",male,26.00,1,2,CA,20.5750,missing,S,3
94,95,0,3,Mr,"Coxon, Mr. Daniel",male,59.00,0,0,X,7.2500,missing,S,0
95,96,0,3,Mr,"Shorney, Mr. Charles Joseph",male,NaN,0,0,X,8.0500,missing,S,0
96,97,0,1,Mr,"Goldschmidt, Mr. George B",male,71.00,0,0,PC,34.6542,A,C,0
97,98,1,1,Mr,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC,63.3583,D,C,1
98,99,1,2,Mrs,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,X,23.0000,missing,S,1
99,100,0,2,Mr,"Kantor, Mr. Sinai",male,34.00,1,0,X,26.0000,missing,S,1

# Random Forest

In [20]:
data['Sex'] = data['Sex'].astype('category').cat.codes
data['Embarked'] = data['Embarked'].astype('category').cat.codes
data['Pclass'] = data['Pclass'].astype('category').cat.codes
data['Title'] = data['Title'].astype('category').cat.codes
data['Cabin'] = data['Cabin'].astype('category').cat.codes
data['Ticket'] = data['Ticket'].astype('category').cat.codes

In [21]:
data.head(6)

,PassengerId,Survived,Pclass,Title,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_Size
0,1,0,2,12,"Braund, Mr. Owen Harris",1,22.0,1,0,2,7.2500,8,2,1
1,2,1,0,13,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,14,71.2833,2,0,1
2,3,1,2,9,"Heikkinen, Miss. Laina",0,26.0,0,0,31,7.9250,8,2,0
3,4,1,0,13,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,36,53.1000,2,2,1
4,5,0,2,12,"Allen, Mr. William Henry",1,35.0,0,0,36,8.0500,8,2,0
5,6,0,2,12,"Moran, Mr. James",1,NaN,0,0,36,8.4583,8,1,0

In [23]:
#Calculate the missing age by random forest depending on other features
dataAgeNull = data[data["Age"].isnull()]
dataAgeNotNull = data[data["Age"].notnull()]
remove_outlier = dataAgeNotNull[(np.abs(dataAgeNotNull["Fare"]-dataAgeNotNull["Fare"].mean())>(4*dataAgeNotNull["Fare"].std()))|
                      (np.abs(dataAgeNotNull["Family_Size"]-dataAgeNotNull["Family_Size"].mean())>(4*dataAgeNotNull["Family_Size"].std()))                     
                     ]
rfModel_age = RandomForestRegressor(n_estimators=2000,random_state=42)
ageColumns = ['Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title','Cabin','Ticket']
rfModel_age.fit(remove_outlier[ageColumns], remove_outlier["Age"])

ageNullValues = rfModel_age.predict(X= dataAgeNull[ageColumns])
dataAgeNull.loc[:,"Age"] = ageNullValues
data = dataAgeNull.append(dataAgeNotNull)
data.reset_index(inplace=True, drop=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
dataTrain = data[pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])
dataTest = data[~pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])

In [25]:
dataTrain = dataTrain[['Survived', 'Age', 'Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title', 'Ticket', 'Cabin']]
dataTest = dataTest[['Age', 'Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title', 'Ticket', 'Cabin']]

In [26]:
dataTrain

,Survived,Age,Embarked,Fare,Pclass,Sex,Family_Size,Title,Ticket,Cabin
263,0,22.000000,2,7.2500,2,1,1,12,2,8
264,1,38.000000,0,71.2833,0,0,1,13,14,2
265,1,26.000000,2,7.9250,2,0,0,9,31,8
266,1,35.000000,2,53.1000,0,0,1,13,36,2
267,0,35.000000,2,8.0500,2,1,0,12,36,8
0,0,41.188763,1,8.4583,2,1,0,12,36,8
268,0,54.000000,2,51.8625,0,1,0,12,36,4
269,0,2.000000,2,21.0750,2,1,4,8,36,8
270,1,27.000000,2,11.1333,2,0,2,13,36,8
271,1,14.000000,0,30.0708,1,0,1,13,36,8
272,1,4.000000,2,16.7000,2,0,2,9,15,6
273,1,58.000000,2,26.5500,0,0,0,9,36,2
274,0,20.000000,2,8.0500,2,1,0,12,2,8
275,0,39.000000,2,31.2750,2,1,6,12,36,8
276,0,14.000000,2,7.8542,2,0,0,9,36,8
277,1,55.000000,2,16.0000,1,0,0,13,36,8
278,0,2.000000,1,29.1250,2,1,5,8,36,8
1,1,41.644845,2,13.0000,1,1,0,12,36,8
279,0,31.000000,2,18.0000,2,0,1,13,36,8
2,1,46.858649,0,7.2250,2,0,0,13,36,8
280,0,35.000000,2,26.0000,1,1,0,12,36,8
281,1,34.000000,2,13.0000,1,1,0,12,36,3
282,1,15.000000,1,8.0292,2,0,0,9,36,8
283,1,28.000000,2,35.5000,0,1,0,12,36,0
284,0,8.000000,2,21.0750,2,0,4,9,36,8
285,1,38.000000,2,31.3875,2,0,6,13,36,8
3,0,41.188763,0,7.2250,2,1,0,12,36,8
286,0,19.000000,2,263.0000,0,1,5,12,36,2
4,1,35.054397,1,7.8792,2,0,0,9,36,8
5,0,39.480730,2,7.8958,2,1,0,12,36,8
...,...,...,...,...,...,...,...,...,...,...
951,0,21.000000,2,11.5000,1,1,1,12,36,8
952,1,48.000000,2,25.9292,0,0,0,13,36,3
173,0,15.511881,2,69.5500,2,0,10,9,7,8
953,0,24.000000,2,13.0000,1,1,0,12,36,8
954,1,42.000000,2,13.0000,1,0,0,13,36,8
955,1,27.000000,0,13.8583,1,0,1,9,22,8
956,0,31.000000,2,50.4958,0,1,0,12,14,0
174,0,39.480730,2,9.5000,2,1,0,12,36,8
957,1,4.000000,2,11.1333,2,1,2,8,36,8
958,0,26.000000,2,7.8958,2,1,0,12,36,8
959,1,47.000000,2,52.5542,0,0,2,13,36,3
960,0,33.000000,2,5.0000,0,1,0,12,36,1
961,0,47.000000,2,9.0000,2,1,0,12,36,8
962,1,28.000000,0,24.0000,1,0,1,13,16,8
963,1,15.000000,0,7.2250,2,0,0,9,36,8
964,0,20.000000,2,9.8458,2,1,0,12,36,8
965,0,19.000000,2,7.8958,2,1,0,12,36,8
175,0,39.480730,2,7.8958,2,1,0,12,36,8
966,1,56.000000,0,83.1583,0,0,1,13,36,2
967,1,25.000000,2,26.0000,1,0,1,13,36,8
968,0,33.000000,2,7.8958,2,1,0,12,36,8
969,0,22.000000,2,10.5167,2,0,0,9,36,8
970,0,28.000000,2,10.5000,1,1,0,12,8,8
971,0,25.000000,2,7.0500,2,1,0,12,28,8
972,0,39.000000,1,29.1250,2,0,5,13,36,8
973,0,27.000000,2,13.0000,1,1,0,15,36,8
974,1,19.000000,2,30.0000,0,0,0,9,36,1
176,0,19.359948,2,23.4500,2,0,3,9,34,8
975,1,26.000000,0,30.0000,0,1,0,12,36,2
976,0,32.000000,1,7.7500,2,1,0,12,36,8

In [29]:
from sklearn.ensemble import RandomForestClassifier
 
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=1000,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1) 

y = dataTrain.iloc[:, 0]
y = y.astype('int')
rf.fit(dataTrain.iloc[:, 1:], y)
print("%.4f" % rf.oob_score_)

0.8283

In [30]:
submit['Survived'] = rf.predict(dataTest).astype(int)
submit.to_csv('submission.csv', index=False)

In [31]:
submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         0
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]